:root{
 
    /* ------ LIGHT-MODE COLORS------ */
    --lm-image-body: url(../../img/background-light.webp);    
    --lm-bg-body: rgba(255, 255, 255, .9);
    --lm-bg-body-accent: rgba(127, 255, 127, .8);
    --lm-shadow-body: #000;
    --lm-text-body: #000;
    --lm-text-body-accent: #060;
    --lm-link-body: #00007f;    
    --lm-bg-header-footer: rgba(85, 85, 85, .9);
    --lm-text-header-footer: #fff;
    --lm-text-header-footer-accent: #7fff7f;
    --lm-link-header-footer: #fff;
    --lm-link-header-footer-hover: #7fff7f;
    
    /* ------ DARK-MODE COLORS ------ */
    --dm-image-body: url(../../img/background-dark.webp);    
    --dm-bg-body: rgba(17, 17, 17, .9);
    --dm-bg-body-accent: rgba(17, 51, 17, .8);
    --dm-shadow-body: #fff;
    --dm-text-body: #eee;
    --dm-text-body-accent: #9f9;
    --dm-link-body: #7f7fff;
    --dm-bg-header-footer: rgba(17, 17, 17, .9);
    --dm-text-header-footer: #ddd;
    --dm-text-header-footer-accent: #7fff7f;
    --dm-link-header-footer: #ddd;
    --dm-link-header-footer-hover: #7fff7f;

    /* ------ DEFAULT ------ */
    --image-body: var(--lm-image-body);    
    --bg-body: var(--lm-bg-body);
    --bg-body-accent: var(--lm-bg-body-accent);
    --shadow-body: var(--lm-shadow-body);
    --text-body: var(--lm-text-body);
    --text-body-accent: var(--lm-text-body-accent);
    --link-body: var(--lm-link-body);
    --bg-header-footer: var(--lm-bg-header-footer);
    --text-header-footer: var(--lm-text-header-footer);
    --text-header-footer-accent: var(--lm-text-header-footer-accent);
    --link-header-footer: var(--lm-link-header-footer);
    --link-header-footer-hover: var(--lm-link-header-footer-hover);

    /* ------ SIZES ------ */
    --header-height: 50px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --image-body: var(--dm-image-body);    
        --bg-body: var(--dm-bg-body);
        --bg-body-accent: var(--dm-bg-body-accent);
        --shadow-body: var(--dm-shadow-body);
        --text-body: var(--dm-text-body);
        --text-body-accent: var(--dm-text-body-accent);
        --link-body: var(--dm-link-body);
        --bg-header-footer: var(--dm-bg-header-footer);
        --text-header-footer: var(--dm-text-header-footer);
        --text-header-footer-accent: var(--dm-text-header-footer-accent);
        --link-header-footer: var(--dm-link-header-footer);
        --link-header-footer-hover: var(--dm-link-header-footer-hover);
        color-scheme: dark;
    }
}

[data-theme="dark"] {
    --image-body: var(--dm-image-body);    
    --bg-body: var(--dm-bg-body);
    --bg-body-accent: var(--dm-bg-body-accent);
    --shadow-body: var(--dm-shadow-body);
    --text-body: var(--dm-text-body);
    --text-body-accent: var(--dm-text-body-accent);
    --link-body: var(--dm-link-body);
    --bg-header-footer: var(--dm-bg-header-footer);
    --text-header-footer: var(--dm-text-header-footer);
    --text-header-footer-accent: var(--dm-text-header-footer-accent);
    --link-header-footer: var(--dm-link-header-footer);
    --link-header-footer-hover: var(--dm-link-header-footer-hover);
    color-scheme: dark;
}

[data-theme="light"] {
    --image-body: var(--lm-image-body);    
    --bg-body: var(--lm-bg-body);
    --bg-body-accent: var(--lm-bg-body-accent);
    --shadow-body: var(--lm-shadow-body);
    --text-body: var(--lm-text-body);
    --text-body-accent: var(--lm-text-body-accent);
    --link-body: var(--lm-link-body);
    --bg-header-footer: var(--lm-bg-header-footer);
    --text-header-footer: var(--lm-text-header-footer);
    --text-header-footer-accent: var(--lm-text-header-footer-accent);
    --link-header-footer: var(--lm-link-header-footer);
    --link-header-footer-hover: var(--lm-link-header-footer-hover);
    color-scheme: light;
}


/* ------ font ------ */
body {
    font-family: system-ui, sans-serif;
    font-size: 1.5rem;
    background-color: var(--bg-body);
    background-image: var(--image-body);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--text-body)
}

/* ------ WRAPPER  ------ */
._wrapper {
    min-height: 100dvh;
    overflow-x: clip;
    display: flex;
    flex-direction: column;
}
._main-content {
    flex: 1;
}

/* ------ CONTAINERS ------ */
._container {
    max-width: 80ch;
    margin: 0 auto;
    padding: 0 10px;
    overflow-x: hidden;
}

._grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1frt;
    gap: 1rem;
    padding-block: 2rem;
}

@media (max-width: 768px) {
    ._grid-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 640px) {
    ._grid-container {
        grid-template-columns: 1fr;
    }
}

/* ------ HODDEN-TITLE ------ */
/* It is a good practice to have a title for every navigation.
Even if it will be hodden, search robot will grab a better structure of our page. */
._hidden-title {
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -1000;
}

/* ------ HEADER FOOTER LINKS ------ */
._header-footer-link {
    cursor: pointer;
    color: var(--link-header-footer);
    font-weight: 600;
    line-height: 3rem;
    transition: color .3s ease;
}
._header-footer-link:hover,
._header-footer-link:focus {
    color: var(--link-header-footer-hover);
    text-shadow: 0px 0px 15px;
}

/* ------ BODY LINKS ------ */
._body-link {
    cursor: pointer;
    color: var(--link-body);
    font-weight: 600;
    transition: color .3s ease;
}
._body-link:hover,
._body-link:focus {
    text-shadow: 0px 0px 10px var(--shadow-body);
}


/* ------ IMG ------ */
._img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: .75rem;
}
