/* ------ colors ------ */
:root{
    
  /* ------- COLORS ------ */
    /* ------ LIGHT-MODE COLORS------ */
    &, &.light-mode {
        --bg-body: #eee;
        --bg-header-footer: #222;
        --bg-accent-1: #8e8;
        --bg-accent-2: #ccb;
        
        --text-body: #222;
        --text-header-footer: #ddd;
        --text-body-accent: #282;
        --text-header-footer-accent: #a8b;
    }
    
    /* ------ DARK-MODE COLORS ------ */
    &.dark-mode {
        --dark: #222;
        --semidark: #eee;
        --light: #ddd;
        --semilight: #ccc;
        --green: #9b9;
        --blue: #a8b;
    }

    /* ------ sizes ------ */
    --header-height: 4rem;
    --banner-height: 70vmin;
    --player-height: 3rem;

}
/* ------ DARK-MODE ------ */
html.dark {
    background-color: #0d0950;
    color: #fff;
}

/* ------ font ------ */
body {
    font-family: system-ui, sans-serif;
    font-size: 1.5rem;
    background-color: var(--bg-body);
    color: var(--dark)
}

/* ------ WRAPPER  ------ */
._wrapper {
    width: 100dvw;
    min-height: 100dvh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
._main-content {
    flex: 1;
}

/* ------ CONTAINERS ------ */
._container {
    max-width: 80ch;
    margin: 0 auto;
    padding: 0 10px;
}
._grid-comtainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

/* ------ HODDEN-TITLE ------ */
/* It is a good practice to have a title for every navigation.
Even if it will be hodden, search robot will grab a better structure of our page. */
._hidden-title {
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -1000;
}

/* ------ LINKS ------ */
._link {
    cursor: pointer;
    color: var(--text-header-footer);
    transition: 0.3s ease;
}
._link:hover,
._link:focus {
    color: var(--text-header-footer-accent)
}