---
import { getCollection } from 'astro:content'

import BaseLayout from '../../layouts/BaseLayout.astro'
const pageTitle = "Облако Тегов"

const allTracts = await getCollection('tract')
const uniqueTags = [...new Set(allTracts.map((tract) => tract.data.tags).flat())].sort()
---
<BaseLayout pageTitle={pageTitle}>
    <div class="_grid">
        {uniqueTags.map((tag) => <a href={`/tags/${tag}`}>{tag}</a>)}
    </div>
</BaseLayout>