---
import BaseLayout from "../layouts/BaseLayout.astro"
import TractItem from "../components/TractItem.astro"
import Greeting from "../components/Greeting"

/* interface ITract {
	layout: string
	title: string
	pubDate: string
	description: string
	author: string
	image: {url: string, alt: string}
	tags: string[]
} */
const allTracts = await Astro.glob('./tracts/*.md')
const pageTitle: string = 'Сто Евангельских Трактатов'
---

<BaseLayout pageTitle={pageTitle}>
	<div class="_container _grid">
		{allTracts.map((tract) => <TractItem tract={tract} />)}
	</div>
</BaseLayout>