---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle: string = 'Сто Евангельских Трактатов'
---

<BaseLayout pageTitle={pageTitle}>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptas magni consequuntur maiores optio sapiente possimus eum impedit incidunt quisquam.</p>
</BaseLayout>
