---

---
<nav class="burger-menu">
    <h3 class='_hidden-title'>Вспомогательная навигация</h3>
    <ul class="burger-list">
        <li><a href='/about' class="_link burger-link">о проекте</a></li>
        <li><a href='/tags' class="_link burger-link">теги</a></li>
    </ul>
</nav>
<style>
    .burger-menu {
        background-color: var(--bg-header-footer);
        position: absolute;
        top: var(--header-height);
        left: 200vw;
        right: 0;
        transition: .4s ease;
    }
    .burger-menu.open {
        left: 0;
        right: 0;
    }
    .burger-list {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
        margin-bottom: 2rem;
    }
    .burger-link {
        line-height: 3rem;
    }
</style>