---
import FooterLinks from "./FooterLinks.astro"
import Copy from "./Copy.astro"
---
<footer>
    <div class="_container">
        <FooterLinks />
        <Copy />
    </div>
</footer>
<style>
    footer {
        background-color: var(--bg-header-footer);
        color: var(--text-header-footer);
    }
</style>