---
import FooterNavigation from "./FooterNavigation.astro"
import Copy from "./Copy.astro"
---
<footer>
    <div class="_container">
        <FooterNavigation />
        <Copy />
    </div>
</footer>
<style>
    footer {
        background-color: var(--bg-header-footer);
        color: var(--text-header-footer);
        padding: 4rem .5rem 8rem;
    }
</style>