---
import type { ILink } from "./LinkInterface"

const links: ILink[] = [
    {
        'href': '/tracts/tract-1/',
        'title': 'Трактат #1',
        'target': '_self'
    },
    {
        'href': '/404',
        'title': '404',
        'target': '_blank'
    },
    {
        'href': 'https://www.youtube.com/watch?v=z0IlXm70X2s&list=PLkBa4gMtrImjRO7fO-zpsMeJZjnyEGLf7',
        'title': 'YouTube',
        'target': '_blank'
    },
    {
        'href': 'https://forms.gle/5f1Za8AWMLpfhtbq5',
        'title': 'Форма обратной связи',
        'target': '_blank'
    }
]
---

<nav>
    <h6 class="hidden-title">Вспомогательная навигация</h6>
    <ul>
        {links.map((link) => <li><a href={link.href} target={link.target}>{link.title}</a></li>)}
    </ul>
</nav>

