---
//в дальнейшем заменить title на иконки, написать отдельный интерфейс и избавиться от файла LinkInterface.ts
import HiddenTitle from "./HiddenTitle.astro"
import type { ILink } from "./LinkInterface"

const links: ILink[] = [
    {
        'href': '/',
        'title': 'На главную',
        'target': '_self'
    },
    {
        'href': '/about',
        'title': 'О проекте',
        'target': '_self'
    },
    {
        'href': '/tags',
        'title': 'Теги',
        'target': '_self'
    },
]

---
<header>
    <nav class='_container'>
        <HiddenTitle title='Вспомогательная навигация' />
        <ul>
            {links.map((link) => <li><a href={link.href} target={link.target} class='_link'>{link.title}</a></li>)}
        </ul>
    </nav>
</header>
<style>
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--bg-header-footer);
        color: var(--text-header-footer);
        z-index: 70;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }
    a {
        line-height: var(--header-height);
    }

</style>
