---
import Logo from "./Logo.astro"
import BurgerIcon from "./BurgerIcon.astro"
import BurgerMenu from "./BurgerMenu.astro"
---
<header>
    <div class='_container header-container'>
        <Logo href="/" logo="Сто Евангельских Трактатов"/>
        <BurgerIcon />
        <BurgerMenu />
    </div>

    <script>
        import '../scripts/burger'
    </script>
</header>
<style>
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        min-height: var(--header-height);
        background-color: var(--bg-header-footer);
        color: var(--text-header-footer);
        z-index: 70;
    }
    .header-container {
        min-height: var(--header-height);
        display: grid;
        grid-template-columns: 60px 1fr [logo-start] auto [logo-end] 1fr [burger-start] 60px [burger-end];
        align-items: center;        
    }
</style>
