---
interface Props {
    logo: string
    href: string
}
const {href, logo} = Astro.props
---
<a href={href} class="logo _link">{logo}</a>
<style>
    .logo {
        grid-column: logo;
        text-align: center;
    }
</style>