---
//в дальнейшем заменить title на иконки, написать отдельный интерфейс и избавиться от файла LinkInterface.ts
import type { ILink } from "./LinkInterface"

const links: ILink[] = [
    {
        'href': '/',
        'title': 'На главную',
        'target': '_self'
    },
    {
        'href': '/about',
        'title': 'О проекте',
        'target': '_self'
    }
]

/* Если остануться лишь эти две кнопки, в будущем можно и захардкодить
        <a href="/">На главную</a>
        <a href="/about">О проекте</a> */

---
<nav>
    <h6 class="hidden-title">Полезные ссылки</h6>
    <ul>
        {links.map((link) => <li><a href={link.href} target={link.target}>{link.title}</a></li>)}
    </ul>
</nav>
<style>
    ul {
        display: flex;
        gap: 1rem;
    }
</style>
