---
import BaseLayout from "./BaseLayout.astro"

interface Frops {
  title: string
  description?: string

}
const { frontmatter } = Astro.props
const tags = frontmatter.tags
---

<BaseLayout pageTitle={frontmatter.title}>
    <div class="_tract-grid">
      <div>audioplayer</div>
      <slot />
      <div>
        <p>Трактат опубликован <time>{frontmatter.pubDate.slice(0,10)}</time></p>
        <p>Теги: {tags.map((tag) => (<a href={`/tags/${tag}`} class="tag-link">{tag}</a>))}</p>
      </div>    
    </div>
</BaseLayout>
<style>
  ._tract-grid {
    margin-block: 1rem;
    display: grid;
    gap: 2rem;
  }
  .tag-link {
    margin-right: .5rem;
  }
</style>